<div class="navBar">
    <div class="logo">Admin Header</div>

    <div class="navItems">
        <div routerLinkActive="active"><a routerLink="./Home" routerLinkActive="active">Home</a>
        </div >
        <div routerLinkActive="active"><a routerLink="./about" routerLinkActive="active">About</a>
    </div>
    <div routerLinkActive="active">
        <a routerLink="./contact" routerLinkActive="active">Contacts</a>
    </div>
    <div routerLinkActive="active">
        <a routerLink="./services" routerLinkActive="active">Services</a></div>
    </div>
</div>

