*{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{

    background-color: blue;
    color: white;
    font-size: 20px;
    width: 400px;
    height: 50px;
    border-radius: 4px ;


}